1. Link the pages together using the navigation bar

2. The Add Pages should hover on top and when closed should hover out.


2. API Requests.


Add Transaction Page

(Post)
User should be able to add a transaction (income or expense)
Selecting a predetermined set of categories
Enter the Name
Category:
Date:
Amount:

(Get)
Users Transactions should appear under the daily transcations on the home page.

(Update)
When pressing on the transaction, user should be able to update that transaction.



Add Upcoming Bills

(Post)
User should be bale to add a new bill reminder 
Selecting a predetermined set of categories
Enter the Name
Category:
Date:
Amount:

(Get)
User

